/* 
 ### 01 typograohy

  - Spacing (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 /128 /  
 
  - Font-size (px)
 10 / 12/ 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  

  - Font-weights
  Deafult 400
  Medium 500
  Semi-bold 600
  bold 700
  - Line height
  Dedault: 1.5

### 02 Colors
- Primary: #e67e22
- Darker version (Tints):#fdf2e9
- Lighter version (Shades):#cf711f
- Accents:
- Greys: #555


### 05 Shadows

### 06 Border-Radius
  9 px as a Deafualt setting

### 07 Whitespace

 - Spacing (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 /128 / 



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #242323;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
/* hero */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.6rem 0 9.6rem 0;
}
.hero {
  margin: 0 auto;
  max-width: 130rem;
  /* 130rem equal 1300px  
  Note: because in html>font-size : 62.5, mean font size 10px, 
  narmaly defualt is 16px */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  color: #555;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.delivered-meals {
  display: flex;
  margin-top: 6.4rem;
  gap: 1.6rem;
  align-items: center;
}
.delivered-imgs {
  display: flex;
}
.hero-text-box {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin-right: 0;
}
.hero-text-box span {
  color: #cf711f;
  font-weight: 600;
}
/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
/* Logo */
.Logo {
  height: 2.4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* the resons we define height because we want to position it's sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* NAVIGATION */

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #a15818;

  transition: background-color 0.3s;
}
/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* FEATURE-IN */

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
.section-feature {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;

  /* filter to make image look darker and use opacity down to 50% in order to make it grey */
}

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* SECTION HOW TO */

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

.section-how {
  padding: 9.6rem 0;
}
.step-img {
  width: 35%;
}
.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* section how to but circle backgropund */
.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /* height: 60%; */

  /* we can't use height 60%  */
  padding-bottom: 60%;
  /* 60% of parent's width "we use this one instead" */
  background-color: #fdf2e9;

  position: absolute;

  z-index: -1;
  border-radius: 50%;
}
.step-img-box::after {
  content: "";
  display: block;
  width: 50%;
  /* height: 60%; */

  /* we can't use height 60%  */
  padding-bottom: 50%;
  /* 60% of parent's width "we use this one instead" */
  background-color: #fae5d3;

  position: absolute;

  z-index: -1;
  border-radius: 50%;
}

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* SECTION-MEALS */

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
.section-meals {
  padding: 9.6rem 0;
}
.meal-tag {
  margin-bottom: 1.8rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-img {
  width: 100%;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  gap: 1.6rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  height: 2.3rem !important;
  width: 2.3rem !important;
  color: #e67e22;
}
/* ##### card animation */
/* set a direction by transform : translateY or X 
    and set a smooth transition by transition: all (duration, s,ms.)  */

.meal {
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  /* overflow: hidden, use to make an image inside of the card have
   same border-radius as same as it's backgroung. */
  transition: all 0.4s;
  /* use transition to make an animation up word go smoothly */
}
/* translateY mean Y is a vertical line if number is positive card will move down
 if number is negative also card will move upword*/

.meal:hover {
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.06);
  transform: translateY(-1.3rem);
}

/* ############################### */

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* SECTION TESTIMONIALS */

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* It's not necessary to use only 1fr and 1fr you can to any number but it need to be equal like 50fr 50fr, work like a 1fr 1fr
     WHY: think about it as a percentage, but we don't %, fr is batter. in this case we use 55fr 45fr because we want the left side 
      to gaid more space than the right side. */
  align-items: center;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #888;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.2);
}
.gallery-item {
  overflow: hidden;
  /* use this one to prevent image to not over flot it's parent container */
}

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* MEAL SECTION */

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
.section-pricing {
  padding: 9.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  border-radius: 11px;

  width: 75%;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fae5d3;
  padding: 4.8rem;
}
.pricing-plan--complate {
  background-color: #fdf2e9;
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complate::before {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  /* top and right need to scal as a percentage more flexible choice */

  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  color: #333;
  transform: rotate(45deg);

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* SECTION CALL TO ACTION*/

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}
.cta {
  overflow: hidden;
  display: grid;
  /* 2/3 = 66/6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.015);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}
.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: bottom 4.8rem;
}
.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../content/img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.15);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */

/* SECTION FOOTER/

/* ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
.social-links {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.Contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
}
.Contact a {
  list-style: none;
  color: #767676;
  text-decoration: none;
}
.Contact p {
  margin-bottom: 1.6rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
